/* Styles für die einzelnen verwendeten Elemente, die nicht von bootstrap übernommen wurden*/
strong {
    font-weight: bold;
}


table {
    background: #dddddd;
    box-shadow: inset 0 3px 0 black;
    font-size: 12px;
    line-height: 24px;
    margin: 30px auto;
    text-align: center;
    width: 1000px;
}

table, td, td {
    border: 1px solid black;
    padding: 10px 15px;
    position: relative;
    transition: all 300ms;
}













